Source: yubikey-neo-manager
Maintainer: Debian Authentication Maintainers <pkg-auth-maintainers@lists.alioth.debian.org>
Uploaders: Dain Nilsson <dain@yubico.com>, Simon Josefsson <simon@josefsson.org>, Klas Lindfors <klas@yubico.com>
Section: python
Priority: extra
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 8),
               python-nose,
Standards-Version: 3.9.6
Homepage: https://developers.yubico.com/yubikey-neo-manager/
Vcs-Browser: https://github.com/Yubico/yubikey-neo-manager-dpkg
Vcs-Git: git://github.com/Yubico/yubikey-neo-manager-dpkg.git

Package: yubikey-neo-manager
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
         libykpers-1-1 (>= 1.11),
         libykneomgr0 (>= 0.1.2),
         libu2f-host0 (>= 0.0)
Recommends: pcscd
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: YubiKey NEO management graphical user interface
 The YubiKey NEO support One-Time Password (OTP), smartcard CCID/PCSC,
 and Universal 2nd Factor (U2F) protocols, and this application allows
 you to interface to various parts of the device, including mode-switching.
